.contact-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: start;
  padding-bottom: 1rem;
}

.underline {
  text-decoration: underline;
}

.links {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1rem;
  padding-left: 1rem;


  &:hover {
    color: #f94a0b;
  }
}

.followus {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1rem;
  padding-left: 1rem;

  &:hover {
    color: #f94a0b;
  }
}

.footerp {
  font-size: 1rem;
  line-height: normal;
}

.footercontent {
  padding-bottom: 1.2rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;

}

@media screen and (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    align-items: start;
  }

  .contactus {
    position: relative;
    left: 50%;
  }
}